/*
 * DynaSmartTab Plugin CSS file
 * 
 */

/*****STARTOF DynaSmartTab PLUGIN CSS**********************************************************************************/


.tabPane{	position: relative;  margin	: 0 auto;  padding: 0;   font: normal 11px Verdana, Arial, Helvetica, sans-serif;     color: #5A5655; 
	 		background-color: #F8F8F8;    border: 1px solid #CCC;   width: 980px; /*we need a tabPane holder*/	overflow: visible;}

.navBar{position: relative;	height	: 34px;	z-index	: 10;background-color	: #076102;	margin	: 0;color: #5A5655; text-align: left;
		-webkit-border-bottom-left-radius	: 5px;    -webkit-border-bottom-right-radius	: 5px;	/*border-top		: 1px solid #808081;	border-bottom		: 1px solid #242425;*/}
.navBar ul{display:block; list-style: none;   /*position: relative; */      padding: 0px ;   padding-left: 5px;  margin: 0;   
    clear: both;   background: #EEEEEE;	   /* -webkit-border-top-left-radius		: 5px;    -webkit-border-top-right-radius	: 5px;
    -webkit-border-bottom-left-radius	: 0px;    -webkit-border-bottom-right-radius	: 0px;*/  }
.iniHidden{	display: none;}
.navBar ul li{ position	: relative;  margin: 0;   float	: left;	cursor	: pointer;text-align: center;max-width: 190px;	border-right: 1px solid #E0E0E0; overflow:hidden;}
.navBar ul li:hover{ background-color  : #9EDB04; }
.navBar li a{height: 30px;width	: 130px;    display	: block;    margin	: 0;   padding: 2px;  color	: #FFFFFF; border-bottom	: 1px solid #E0E0E0;
    		border-bottom	: none; cursor: pointer; }
.navBar ul li a img {   display:block;  margin:0;  padding:3px;  height:50px;  width:50px;  float:left;}
.navBar ul li a span {   display	: block;  font: bold 13px Verdana, Arial, Helvetica, sans-serif; padding-top: .5em;}
.navBar ul li a small {   font: normal 12px Verdana, Arial, Helvetica, sans-serif;  float:left;}
.navBar ul li a.curTab {   color: #000000;   background-color:#FFF; border-bottom	: none;}
.navBar ul li a.dis {  color: #CCCCCC;   background	: #F8F8F8;   cursor	:text; }
.navBar ul li span.close, .navBar ul li span.newAdClose,.navBar ul li span.edAdClose{ position:absolute; right:.3em;font-size: 12px;top: 3px; cursor: pointer;}
.navBar ul li span.close:hover{font-weight	: bold;	color : #df0000;}

/********************TabFrame *********************************************************/

#tabFrame{	width: 100%;	background-color: white;	display	: inline;	float: left;	border: 1px solid #CCC;   border-top-width	: 0 !important;
		position: relative;	margin	: 0;	-webkit-border-bottom-left-radius	: 5px;    -webkit-border-bottom-right-radius: 5px; }
#tabFrame div.subFrame{	margin:0;padding:10px; min-height:450px; position: relative;}
#tabFrame div.subFrame div{ text-align	: left; font: normal 12px Verdana, Arial, Helvetica, sans-serif;}
#tabFrame div.subFrame .newFormContainer,
#tabFrame div.subFrame .edFormContainer{ top: 0; left: 0;right: 0; bottom: 0;	background-color: white;}
.edFormContainer .fillInForm,
.newFormContainer .fillInForm{	float: left;	margin:2em;	width: 430px;	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 top,0 bottom,from(white),to(whiteSmoke));}
.edFormContainer .descForm{	margin-top: 20px;	width: 480px;	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 top,0 bottom,from(white),to(whiteSmoke));}
.fillInForm div.field {	margin-bottom: 7px;	/*position: relative;	clear: both;	padding: 0;*/}
.fillInForm div.field label {	width: 100%;font-size: 12px;font-weight: bold; margin-top: 6px; line-height: 18px; float: left; clear: both;}
.fillInForm div.field label.label-cbn, .fillInForm div.field label.label-rbn{width: 6em; clear:none;}
.fillInForm div.field label.label-rbn  { background: url(../images/ele-ui/rbn.png) no-repeat; }
.fillInForm div.field label.label-cbn  { background: url(../images/ele-ui/cbn.png) no-repeat; }
.fillInForm div.field label.label-cby  { background: url(../images/ele-ui/cby.png) no-repeat; }
.fillInForm div.field label.label-rby  { background: url(../images/ele-ui/rby.png) no-repeat; }
.fillInForm div.field label.mapLabel  {width:auto; clear:left; }
.fillInForm div.field span.btn-map {position: absolute;right: 25em;width: 72px;height: 72px;
									background: url(../images/btn/Maps.png) no-repeat;top: 28.5em;z-index: 301;}
.label-cb input, .label-rb input  	{ 	position: absolute; 	left: -9999px;}
.fillInForm div.field label.group input{ margin: 0 0 0 2em;}
.fillInForm div.field input.textBox{border-color: #CCC;	background: url("../images/bg/input-bg.png") no-repeat scroll left top transparent;
							width: 274px; height:30px;border: 0;}
.fillInForm div.field input.textBoxL{	width: 340px;	height: 20px;}	
.fillInForm div.field input.hidden{	display:none;}
.descForm div.field textarea.textBoxXL,
.fillInForm div.field textarea.textBoxXL{	border-color: #CCC;	width: 880px;	height:300px;  resize: none; }
#suggBox{position: absolute; right: 2em; height:400px; border: 1px solid green; padding:0.8em; }
#suggBox ul#suggList{list-style: none outside none;padding-top: 1em; width: 350px; padding-left:0.5em;}
#suggBox ul#suggList li{padding-top: 1em; border-bottom: 1px solid grey;}
#suggBox ul#suggList span{color:blue;}
#suggBox ul#suggList span.qkView{display:block;}
#suggBox ul#suggList span.title{color: green; font: bold italic small-caps 1.3em/1.5em verdana, Ariel, sans-serif;}
#suggBox ul#suggList span.rm{color:red; font: font: bold italic small-caps 0.9em/1.3em verdana, Ariel, sans-serif; clear:right;}

.trPopMenu {border:1px solid #aaa;position:absolute;background:#fff;display:none; font-size:0.75em; }
.trPopMenu .top-li span{display:block;padding:5px 10px;cursor:pointer}
.trPopMenu .sub-li{display:none;position:absolute;border:1px solid #aaa;border-left:1px solid #ccc;background:#fff;}
.trPopMenu .sptr-li{border-top: 1px ridge #aaa;margin:5px 0}

/*****ENDOF DynaSmartTab PLUGIN CSS**********************************************************************************/
