@charset "utf-8";
/* CSS Document */
/*******************************BASIC***********************************/
body, html{
	
    background-position: 0% 0%;
	
	    	
}
* {
            font-family: 'Arial', 'Helvetica', sans-serif;
            line-height: 13px;
            color: #000000;
            margin: 0;
            padding: 0;
            font-size: 12px;
  }
  


 @font-face {
	font-family: droid;
	src: url('../fonts/DroidSans-Bold.ttf');
	src: local(droid), url('../fonts/DroidSans-Bold.ttf') format('opentype');/*IE FIX*/
}

@font-face {
	font-family: bn3rd;
	src: url('../fonts/BN3rd.ttf');
	src: local(bn3rd), url('../fonts/BN3rd.ttf') format('opentype');/*IE FIX*/
}
/****************************      Elements styling      ********************************/
h1,h2,h3,h4,h5,h6 {
	/*
font-family: Helvetica, Arial, sans-serif;
*/
	color: #222;
	
}

h1 {
	font-family: 'Arial', sans-serif;
	font-size: 31px;
	font-weight: bold;
	color: #000;
	
}

h2 {/*will be used for links*/
	font-family: 'droid', sans-serif;
	font-size: 20px;
	color: #0da63a;
	padding: 0 0 10px 0;
}

/********************************     Toolbar  ************************************************/
#header{
	margin: 0 0;
	width:100%
	height: 200px;
	border: solid;
	border-color:blue;
}
#header a{
	font-family: 'droid', sans-serif;
	font-size: 15px;
	color: #000000;
}
#header a 
