/*
	main Style CSS (c) JobzDroid
	
*/

/*********************************Basic*********************************************************/
html, body { margin: 0; padding: 0; border: 0; outline: 0; font-family: Arial;
			 font-style: normal;  font-weight: inherit;    font-size: 100%;    vertical-align: baseline;
}
body{color:darkGray;}
a {	text-decoration: none; border:none;}
a img{border:none;}
table {	display: table;	border-collapse: separate;	border-spacing: 7px 7px;	border-color: gray; }

tbody {	display: table-row-group;	vertical-align: middle;	border-color: inherit;}
tr {	display: table-row;	vertical-align: inherit;	border-color: inherit;}
td, th {	display: table-cell;	vertical-align: inherit;}

.clearfix:after {    content: ".";    display: block;    clear: both;    visibility: hidden;
					line-height: 0;    height: 0;	overflow: hidden;	float: none;}

.clearfix {    display: inline-block;}

html[xmlns] .clearfix {    display: block;}

* html .clearfix {    height: 1%;}
.force-no-break {	white-space: nowrap;}

input,textarea,select {	font-family:inherit;	font-size:inherit;	font-weight:inherit;}

h2{ font-size: 15px;	margin-top: 10px;	padding-bottom: 0px;	font-weight: bold;	color: #000000;}
h2.good{  color	: #00ff00; }
h2.error{ color	: #ff0000; }
h2.info{  background-color : #d2d200;}

h2.welcome{	border-bottom: 2px solid;	border-bottom-color: #0C3E74;	padding: 0 0 3px;}

.jsBtn{/*We will have a Click cursor without <a>!*/	cursor	: pointer;}
/************************ENDOF BASIC STRUCTURE**********************************/
.pagefont {	padding: 3px 8px 3px 8px; 	vertical-align: middle; 	font-size: 13px;}
div.padded{	padding: 3px 0px 3px 5px; }
.errorTag {	color:red;}
.successTag {	color:green;}
.linkImg:hover{ cursor: pointer;}
.heading-text{	text-align: center;	border-bottom: 1px solid #999;	font-weight	: bold;	margin-top: 20px; margin-bottom	: 10px;
				padding-bottom	: 0px;	color: #237a0e;	font-size: 22px;}
.formFieldLabel {	float: left; font-weight: bold;	margin	: 2px 0 0 0;color: #5F5F5F;}
/************************CUSTOMIZED BUILD-IN DOM ELEMENT******************************************/
.has-style .label-cb, .label-rb{padding-left: 34px;	height:21px;	vertical-align: middle;}
.has-style .label-rb    	{ background: url(../images/ele-ui/rbn.png) no-repeat; }
.has-style .label-cb    	{ background: url(../images/ele-ui/cbn.png) no-repeat; }
.has-style label.cby      	{ background: url(../images/ele-ui/cby.png) no-repeat; }
.has-style label.rby      	{ background: url(../images/ele-ui/rby.png) no-repeat; }
.has-style .label-cb input, 
.has-style .label-rb input  { 	position: absolute; 	left: -9999px;}
/************************ELEMENTS STYLE*********************************************************/
.main{	width: 1050px;	height: auto;  margin: 0 auto; overflow: hidden;position: relative;	max-width: 1600px; 	min-width: 600px;}
/**********************header bar************************************************************/
div.header{	margin-top: 30px;	height: 60px;background	: url("../images/header-bg.jpg") repeat-x 0 -12px;	position: relative;}

#logo{	position: absolute;	padding : 0 0 0 1em;bottom	: 0;}

#topnav {position: absolute;/*width	: 400px;*/	right: 10px;clear: right;float: right;list-style: none;	padding	: 0;display	:inline;}
#topnav li{	float: left;}
#topnav a.btn{ width : 100px;background : #076102; color  : #FFF; float	: left;	 margin: 0 0 0 10px; padding: 5px 5px 5px 5px;
      			text-align  : center;  border : 1px solid #7D7D7D; text-decoration : none; display: inline;}
  
#topnav a.btn:hover{ background: #9EDB04; color  : #FFFFFF; text-decoration : none; }

.header #topnav li a, #topnav li strong {font-size: 11px;display: block;float: left;padding: 6px;margin: 3px 0 0 8px;overflow: visible;text-decoration: none;}
#topnav li a img.link-icon{   display:block;  margin:-2px 0 0 0;  padding-right:8px;  /*height:50px;  width:50px;*/
							  float:left;  background-position: center left;}
/**********ENDOF header Bar**********************************************/
 
/*****************Index Center Box*********************************************/
.centerbox {	margin: 0 auto;	height: inherit;	width: 980px;	position: relative;}

.centerbox .loginbox{background-image: url("../images/login-box.png");	float: right;  list-style-type: none;  left: 580px;
						padding: 0;  position: absolute;  top: 20px;height: 339px;	width: 375px;}
.centerbox .loginbox a{    font-size: 15px;	font-weight: bold;	padding: 0px 10px;	color: #1e2ef0;    display: inline-block;    line-height: 27px;}

.centerbox .loginbox #email{	margin: 85px 0 0 144px;	width: 10em;}
.centerbox .loginbox #password{	margin: 20px 0 0 144px;	width: 10em;}
/**************************FOOTER***********************************************************/
.footer_wrapper {	margin: auto;	width: 980px;}
.footer_wrapper li {	float: right;	list-style-type: none;	font-size: 11px;	margin-left: 15px !important;}

.footer_wrapper2 {	margin: auto;	width: 1050px;}
.footer_wrapper2 li {	float: right;	list-style-type: none;	font-size: 11px;	margin-left: 15px !important;}

/*****************************User Registering Page***********************************************/
#regpage{	margin: 50px auto;	height: inherit;width: 520px;	position: relative;	padding-bottom: 1em;	margin-bottom: 3em;	min-height: 550px;}
.regbox{	margin: 0 auto;	border: 1px solid #7D7D7D; }

.regbox table td.clean {	padding: 0 5px;}

.regbox table td {	padding: 3px 0px 3px 5px;	vertical-align: middle;	font-size: 11px;}

.regbox table td.label,
.regbox table div.label {white-space: nowrap;text-align: right;	font-weight: normal;}

/**************************Registered Users Pages*********************************************/

div#main-container { min-height: 450px; background: #fff; 	width: 980px;	margin: 0 auto; 	padding: 5px 0 0 0;}

#content { 	padding-bottom: 1em;padding-top: 1em;	margin-left: 1em;	margin-bottom: 3em; 	min-height: 450px; }

#info-tab{}
/***************Search Styles*******************************************/
#advSearchForm{	float: left;width: 100%;margin-bottom: 14px;}
.columnBox{	float: left;	margin	: 0px 70px !important;	width	: 270px;}

.formFieldWrapper {	margin: 5px 0 15px 0;	padding	: 0;	clear: left;}

.floatLeftBtn {	float: left;	padding-left: 5em;	margin: 0;	}
/***************Result Table Style**************************************/
.resultTableDiv{clear: both;position: relative;	width: 765px;	min-height	: 140px;font-size	: 11px;	margin: 0 auto;	padding: 1em;	border-top	: 2px solid #004000;}
.resultTableDiv tr #edTool,
.resultTableDiv span.edTool {font-weight: normal; background: url(../images/bg/ft-bg.png) no-repeat; width: 252px; height: 104px;position: absolute;
							  text-align: center;padding: 20px 12px 10px; font-style: normal; z-index: 2;    display: none;}
.tableClear{border	: none;	display	: none;}
.noBorder{	border: none;}
.displayTable{	border: 2px solid #004000;}
.resultTableDiv table{width	: 100%;margin-bottom: 1em;	border-spacing 	: 0;}

.resultTableDiv thead {cursor: default;overflow: hidden;height: 31px;padding: 0px 0px 0px 0px;}
.resultTableDiv th{   background: url("") repeat-x;  line-height: 25px; height:31px;margin:0; padding:0;}

.resultTableDiv tbody {	color: #333;}
.resultTableDiv td {border-right: 1px solid white;height: 23px;	overflow: hidden;word-wrap: break-word;
					background-color: white;text-align: center;}
.resultTableDiv td.nameCol{	border-right: 1px solid blue;	min-width: 100px;	text-align: left;	padding: 0.5em;	font-weight: bold;}
.resultTableDiv td.dataCol{	border-right: 1px solid blue;	min-width: 500px;text-align	: left;	padding	: 0.5em;}
.resultTableDiv td.clean {	padding: 0 5px;}
.resultTableDiv td.hide{display: none;}
.resultTableDiv td span{margin: 0;}
.resultTableDiv td span:hover{	cursor: pointer;}
.resultTableDiv .oddRow td{	background-color: #DFF6CD;}
.headText {	padding-left: 0.33em;	padding-right: 0.33em;	padding-top	: 0.5em;float: left;white-space	: nowrap;overflow: hidden;}

.columnButton{ border-left:1px solid #FFFFFF;   border-right:0px solid #FFFFFF;  height:31px;
				font-weight:normal;  color:#333;  margin:0px; padding:0; width: 100%; cursor:pointer;}
.headToolBar{ height:32px; padding: 1em;}
.headToolBar a.newadbtn{float:left; padding: 1em;}
.headToolBar ul#filter, ul#newAdTool, ul#edAdTool{list-style: none; float:left;list-style-image: none;list-style-position: outside;list-style-type: none;margin: 0;padding-left: 4em;}
.headToolBar ul li{  float:left; padding: 1em;position: relative;}
 /***********RESULT TABLE-HEADER COLUNMS*******/
#col-viewDate{	min-width: 68px;}

/***************Create Job Advertisement *******************************************/
#createJobAdForm{float: left;width: 100%;margin-bottom: 14px;}
.columnBoxContainer{float	: left;	margin: 0px 70px !important;width	: 700px;}

.columnBoxThinRight{position: relative;	float: right; right:-30px;	top: -285px;width: 135px;}
.columnBoxThinLeft{	position: relative;	width:135px;}
.floatLeftBtn {	float: left;	padding-left: 5em;	margin: 0;	}
