#resultTable table{
	width			: 100%;
	margin-bottom	: 1em;
	border-spacing 	: 0;
}

.resultTableDiv{
	clear		: both;
	position	: relative;
	width		: 765px;
	min-height	: 140px;
	font-size	: 11px;
	margin		: 0px;
	padding		: 0;
}

.resultTableDiv thead {
	cursor: default;
	overflow: hidden;
	height: 31px;
	padding: 0px 0px 0px 0px;
}
.resultTableDiv th{
    background: url("") repeat-x;
    line-height: 25px;
    height:31px;
    margin:0;
    padding:0;
}

.resultTableDiv tbody {
	color: #333;
}
.resultTableDiv td {
	border-right		: 1px solid white;
	height				: 23px;
	overflow			: hidden;
	word-wrap			: break-word;
	background-color	: white;
	text-align			: center;
}
.resultTableDiv .oddRow td{
	background-color: #aae2a9;
}

.headText {
	padding-left		: 0.33em;
	padding-right		: 0.33em;
	padding-top			: 0.5em;
	float				: left;
	white-space			: nowrap;
	overflow			: hidden;
}

.columnButton{
    border-left:1px solid #FFFFFF;
    border-right:0px solid #FFFFFF;
    height:31px;
    font-weight:normal;
    color:#333;
    margin:0px;
    padding:0;
    width: 100%;
    cursor:pointer;
}


/**************HEADER COLUNMS**************************/
#col-viewDate{
	min-width: 68px;
}

