.ui-autocomplete {background-color: white;width: 500px;	border: 1px solid #cfcfcf;	list-style-type: none;	padding-left: 0px;	cursor: pointer;}
.ui-autocomplete item:hover{background-color: green;}
#mapPanel {background-color: rgba(0, 0, 0, 0.5);color: white; display: none; height: 500px; left: 0; position: absolute; top: 0; width: 100%;
			z-index: 300; font: 1.3em bolder italic small-caps Times New Roman, serif;}
#mapPanel #theMap{left: 3em;position: absolute;}
#mapPanel #addrBar{width:485px;}
#mapPanel ul#locList{list-style: none outside none;padding-top: 1.3em; position: absolute; right: 0;width: 350px;}
#mapPanel ul#locList li{padding-top: 1em;}
#mapPanel ul#locList span{padding-left: 0.5em;color:blue;}
#mapPanel ul#locList span.addr{display:block;}
#mapPanel ul#locList span.title{color: white;}
#mapPanel ul#locList span.rm{color:red; font: 0.9em/1.3em bold italic small-caps Times New Roman, serif; clear:right;}
#theMap #map_canvas{width:550px; height:400px;}
div.displayMap{width:450px; height:400px; padding:1em;}
div.displayMap div.dispMapPatch{width:400px; height:300px;}
div.displayMap ul.dispLocList{list-style: none outside none; top: 0.5em;;}
div.displayMap ul.dispLocList li{padding-top: 1em;}
div.displayMap ul.dispLocList span{padding-left: 0.5em;color:blue;}
div.displayMap ul.dispLocList span.addr{display:block;}
div.displayMap ul.dispLocList span.title{}