<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JobzDroid</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletHTTPS</display-name>
    <servlet-name>ServletHTTPS</servlet-name>
    <servlet-class>servlets.ServletHTTPS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHTTPS</servlet-name>
    <url-pattern>/ServletHTTPS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles all account related requests</description>
    <display-name>ServletAccount</display-name>
    <servlet-name>ServletAccount</servlet-name>
    <servlet-class>servlets.ServletAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccount</servlet-name>
    <url-pattern>/ServletAccount</url-pattern>
    <url-pattern>/Account/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletJobAd</display-name>
    <servlet-name>ServletJobAd</servlet-name>
    <servlet-class>servlets.ServletJobAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJobAd</servlet-name>
    <url-pattern>/ServletJobAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Loads configuation files and starts timer for automated tasks.</description>
    <display-name>ServletInitializer</display-name>
    <servlet-name>ServletInitializer</servlet-name>
    <servlet-class>servlets.ServletInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitializer</servlet-name>
    <url-pattern>/ServletInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles functions for profile</description>
    <display-name>ServletProfile</display-name>
    <servlet-name>ServletProfile</servlet-name>
    <servlet-class>servlets.ServletProfile</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfile</servlet-name>
    <url-pattern>/ServletProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletErrorHandler</display-name>
    <servlet-name>ServletErrorHandler</servlet-name>
    <servlet-class>servlets.ServletErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletErrorHandler</servlet-name>
    <url-pattern>/ServletErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/ServletErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ServletErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ServletErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/ServletErrorHandler</location>
  </error-page>
  <servlet>
    <description>Handles all admin actions</description>
    <display-name>ServletAdmin</display-name>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>servlets.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/ServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDocument</display-name>
    <servlet-name>ServletDocument</servlet-name>
    <servlet-class>servlets.ServletDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDocument</servlet-name>
    <url-pattern>/ServletDocument</url-pattern>
  </servlet-mapping>
</web-app>